//Menu Button
.menu-btn {
  position: absolute;
  z-index: 3;
  right: 35px;
  top: 14px;
  cursor: pointer;
  @include easeOut;

  .btn-line {
    width: 28px;
    height: 3px;
    margin: 0 0 5px 0;
    background:black;
    @include easeOut;
  }

  //Rotate into X with Menu Lines
  &.close {
    transform: rotate(180deg);

    .btn-line {
      // Line 1 - Rotate
      &:nth-child(1)
      {
        transform: rotate(45deg) translate(5px, 5px)
      }
      // Line 2 - Hide
      &:nth-child(2)
      {
        opacity: 0;
      }
      // Line 3 - Rotate
      &:nth-child(3)
      {
        transform: rotate(-45deg) translate(7px, -6px)
      }
    }
  }
}

.menu {
  overflow: hidden;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
  
  a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    width: 25%;

    &:hover {
      background-color: rgba(0,0,0,0.16);
      color: black;
    }
  }
}