@import 'config';
@import 'menu';
@import 'utilities';

* {
    box-sizing:border-box; //adding padding will not effect height/width of box
    margin: 0;
    padding: 0;
}

body {
    background: white;//rgb(173, 216, 230);//rgb(255, 255, 255);
    color: black;
    height: 100%;
    margin: 0;
    font-family: "Raleway", sans-serif;
    //line-height: 1.5;
}

// Headings
header {
    position:fixed;
    z-index: 2;
    width: 100%;
}

.portrait
{
    height: 150px;
    width: 150px;
}

#landing {
    height: 110vh;
}

.text-secondary {
    color: $secondary-color;
}


#landing {
    position: relative;
    text-align: center;
    //background: white;
    background-image: url("../img/create.jpg");
    background-size: cover;

    &-inner
    {
        position: absolute;
        top:50%;
        left: 50%;
        height: auto;
        width: 90%;    
        overflow: hidden; //hide scroll bar
        -ms-transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);

        img {
            border-radius: 50%;
        }
    }
}

.section-table
{
    &-label
    {
        text-align: center;
        text-transform: uppercase;
        font-weight: 700;
    }

    &-content {
        li 
        {
            text-align: center;
            list-style: none;
            margin: .7rem 0;
            font-size: .8rem;
        }
    }
}

.section-work-content
{
    font-size: .9rem;
}

//Projects
.projects {
    margin-bottom: 1rem;
    display:grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
    
    
    .project-item
    {
        width: 100%;
        height: 100%;
        overflow: auto;
    }

    .project-item-img{
        margin:auto;
        width: 75%;
        height: 50%;
        padding-bottom: .5rem;
    }

    .project-item-btns{
       margin:auto;
        width: 75%;
    }

    img {     
        width: 100%;
        height: 100%;
        border: 1px black solid;

        &:hover {
            opacity: 0.5;
            border-color:$secondary-color;
            @include easeOut;
        }
    }
}

.contact-container {
    line-height: 1.5;
}
#main-footer {
    text-align: center;
    padding: 1rem;
    //background: darken($primary-color, 10);
    color: set-text-color($primary-color);
    height: 3rem;
}

@import 'mobile';