@import 'config';
@import 'menu';
@import 'utilities';

* {
    box-sizing:border-box; //adding padding will not effect height/width of box
    margin: 0;
    padding: 0;
}

body {
    background: white;//rgb(173, 216, 230);//rgb(255, 255, 255);
    color: black;
    height: 100%;
    margin: 0;
    font-family: "Raleway", sans-serif;
    //line-height: 1.5;
}

// Headings


header {
    position:fixed;
    z-index: 2;
    width: 100%;
}
section {
    height: 110vh;
}

.text-secondary {
    color: $secondary-color;
}


#landing {
    position: relative;
    text-align: center;
    //background: white;
    background-image: url("../img/create.jpg");
    background-size: cover;

    &-inner
    {
        position: absolute;
        top:50%;
        left: 50%;
        height: auto;
        width: auto;    
        overflow: hidden; //hide scroll bar
        -ms-transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
}

.section-table
{
    &-label
    {
        text-align: center;
        text-transform: uppercase;
        font-weight: 700;
    }

    &-content {
        li 
        {
            text-align: center;
            list-style: none;
            margin: .7rem 0;
            font-size: .8rem;
        }
    }
}

.section-work-content
{
    font-size: .9rem;
}